{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Change your password</h1>
    <div class="row d-flex justify-content-center">
            <div class="col-lg-2">

                <!-- Login Form -->
                <form method="POST" action="{% url 'change password' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-primary mt-2" type="submit">Change password</button>
                </form>
            </div>
    </div>
{% endblock %}