{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row row-cols-3">
            {% for article in articles %}
                <div class="col">
                    <a href="{% url 'details page' article.pk%}"><h3>{{ article.title }}</h3></a>
                    <a href="{% url 'details page' article.pk%}">
                        <img src="{{ article.image.url }}" alt="The image of  the article" width="400vh" height="400vh">
                    </a>
                    <h5>{{ article.date }}</h5>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}